
{% extends 'specialisation/bases/base.html' %}


{% block content %}
 <!-- header -->
 {% include 'specialisation/bases/header.html' %}

 <div class="box-warning" style="padding:20px;">
    <div class="my-shadow br-10 centrer" style="height: 200px; background:#20262e; color: #fff;padding:20px 10px 10px 10px;">
        <div>
            <h5>Êtes-vous sûr de vouloir soumettre ce formulaire?</h5>
            <p>
                Une fois que vous aurez clicker sur le bouton envoyer,
                vous ne pourrez plus revenir en arrière.
                Votre quiz sera donc soumis à la correction.
            </p>
        </div>
    </div>
    <br>
    <center>
        <button class="btn btn-quiz_submit br-10" style="border:2px solid #fff; color: #fff; background: transparent">Envoyer</button>
    </center>
</div>
 <div class="centrer btn-send_quiz"  id="send-warning">
    <img src="/static/specialisation/images/svg/send-button.svg" class="img-fluid" style="max-height: 27px" id="sendIcon">
 </div>

<section class=" pt-100" style="width: 100%">
    <div class="container" style="padding-bottom: 100px">
        <div class="row">
            <div class="col-12">

                <!-- type 0 -->
                <div class="card card-quiz-presentation my-shadow br-none mb-5">
                    <div class="card-body ">
                        <h1 class="anv-teal text-center">{{ quiz.nom }}</h1>
                        <h3 class="anv-teal text-center">{{ user.profile.groupe }}</h3>
                        <br>
                        <h2 class="text-center"><span class="badge badge-secondary anv-red bg-white" style="letter-spacing: 5px">12:23:23</span></h2>
                        <br>
                        
                    </div>
                </div>
                {% for quest in quiz.questionquiz.all %}
                    {% if quest.type_question.pk == 1 %}
                    <!-- type 1 -->
                    <div class="card card-quiz my-shadow br-none mb-4">
                        <div class="card-body ">
                            <h4><span class="badge badge-secondary badge-question">Question {{ forloop.counter }}</span></h4>
                            <br>
                            <p>
                            {{ quest.question }}
                            </p>
                            <br>
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Entrez votre réponse ici"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>

                    

                    {% elif quest.type_question.pk == 2 %}
                    
                    <!-- type 3 -->
                    <div class="card card-quiz my-shadow br-none mb-4">
                        <div class="card-body ">
                                <h4><span class="badge badge-secondary badge-question">Question {{ forloop.counter }}</span></h4>
                            <p>
                                {{ quest.question }}
                            </p>
                            <br>
                            <div class="new">
                                <form action="#">
                                    <p>
                                        <input type="radio" id="test1" name="radio-group" checked>
                                        <label for="test1">Apple</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="test2" name="radio-group">
                                        <label for="test2">Peach</label>
                                    </p>
                                    <p>
                                        <input type="radio" id="test3" name="radio-group">
                                        <label for="test3">Orange</label>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>

                    

                  

                    {% else %}
                                   <!-- type 2 -->
                    <div class="card card-quiz my-shadow br-none mb-4">
                        <div class="card-body ">
                                <h4><span class="badge badge-secondary badge-question">Question {{ forloop.counter }}</span></h4>
                            <p>
                                {{ quest.question }}
                            </p>
                            <!-- <div class="card card-code my-shadow br-none mb-4">
                                
                            </div> -->
                            <br>
                            <div class="new">
                                <form>
                                    <div class="form-groupe">
                                        <input type="checkbox" id="html">
                                        <label for="html">HTML</label>
                                    </div>
                                    <div class="form-groupe">
                                        <input type="checkbox" id="css">
                                        <label for="css">CSS</label>
                                    </div>
                                    <div class="form-groupe">
                                        <input type="checkbox" id="javascript">
                                        <label for="javascript">Javascript</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    {% endif %}

     
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

