# Django
Django==2.2.4
# Admin genrator
django-admin-generator==2.2.0
# Auto slug
django-autoslug==1.9.6
# Qr code
django-qr-code==1.0.0
django-slugger==1.1.2
# Image
Pillow==6.1.0
# API call
requests==2.22.0
djangorestframework
markdown
django-filter
aniso8601==7.0.0
anyjson==0.3.3
asn1crypto==0.24.0
autopep8==1.4.4
beautifulsoup4==4.8.0
bootstrap-admin==0.4.3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.5
django-admin-generator==2.2.0
django-admin-interface==0.11.2
django-autoslug==1.9.6
django-colorfield==0.1.15
django-cors-headers==3.1.0
django-faker==0.2
django-filebrowser-no-grappelli==3.7.8
django-filter==2.2.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-memcached==0.1.2
django-qr-code==1.0.0
django-silk==3.0.4
django-slugger==1.1.2
django-tinymce4-lite==1.7.5
django-user-agents==0.4.0
django-utils2==2.5.4
djangorestframework==3.10.3
fake-factory==9999.9.9
getmac==0.8.1
gprof2dot==2017.9.19
graphene==2.1.8
graphene-django==2.6.0
graphene-django-extras==0.4.6
graphql-core==2.2.1
graphql-relay==2.0.0
idna==2.8
Jinja2==2.10.3
jsmin==2.2.2
Markdown==3.1.1
MarkupSafe==1.1.1
Pillow==6.2.0
promise==2.2.1
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.4.2
python-dateutil==2.8.0
python-memcached==1.59
python-utils==2.3.0
pytube==9.5.2
pytz==2019.2
qrcode==6.1
requests==2.22.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
ua-parser==0.8.0
Unidecode==1.1.1
urllib3==1.25.3
user-agents==2.0
youtube-dl==2019.9.1
