
# Admin genrator
django-admin-generator==2.2.0
# Auto slug
django-autoslug==1.9.6
# Qr code
django-qr-code==1.0.0
django-slugger==1.1.2
# Image
Pillow
# API call
requests==2.22.0
markdown
beautifulsoup4==4.8.0
bootstrap-admin==0.4.3
cryptography==3.2
Django==2.2.5
django-admin-interface==0.11.2
django-autoslug==1.9.6
django-colorfield==0.1.15
django-cors-headers==3.1.0
django-filebrowser-no-grappelli==3.7.8
django-filter==2.2.0
django-memcached==0.1.2
django-qr-code==1.0.0
django-slugger==1.1.2
django-tinymce4-lite==1.7.5
django-user-agents==0.4.0
djangorestframework==3.10.3
graphene==2.1.8
graphene-django==2.6.0
graphene-django-extras==0.4.6
graphql-core==2.2.1
graphql-relay==2.0.0
psycopg2-binary==2.8.3
qrcode==6.1
user-agents==2.0
