<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spécialisation NaN</title>

        <!-- stylesheet ***************************************** -->
        <link rel="stylesheet" href="/static/specialisation/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/specialisation/css/main.css">
        <link rel="stylesheet" href="/static/specialisation/css/toast.css">

        <!-- favicons  ****************************************** -->
        <link rel="apple-touch-icon" sizes="57x57" href="/static/specialisation/images/favicons.ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/specialisation/images/favicons.ico//apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/specialisation/images/favicons.ico//apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/specialisation/images/favicons.ico//apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/specialisation/images/favicons.ico//apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/specialisation/images/favicons.ico//apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/specialisation/images/favicons.ico//apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/specialisation/images/favicons.ico//apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/specialisation/images/favicons.ico//apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/specialisation/images/favicons.ico//android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/specialisation/images/favicons.ico//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/specialisation/images/favicons.ico//favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/specialisation/images/favicons.ico//favicon-16x16.png">
        <link rel="manifest" href="/static/specialisation/images/favicons.ico//manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/specialisation/images/favicons.ico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- jquery ******************************************** -->
        <script src="/static/specialisation/js/jquery.min.js"></script>
        
    </head>
    <body>

        <!-- box-content -->
        <div class="login-box centrer" style="position: relative">

            {% block content %}

            {% endblock %}

            <footer class="login-footer">
                <p class="text-center">Plateforme NaN Developers <br>                 
                    <small>DevsFront template</small>
                </p>
            </footer>

        </div>
        
        <!-- script ****************************************** -->
        <script src="/static/specialisation/js/bootstrap.min.js"></script>
        <script src="/static/specialisation/js/main.js"></script>
        <script src="/static/specialisation/js/toast.js"></script>
        <script src="/static/specialisation/js/vue.min.js"></script>
        <script src="/static/specialisation/js/axios.min.js"></script>
        <script src="/static/specialisation/js/myvue.js"></script>

        
        <script>
                var azerty = false;
                $("#send-warning").click(function(){
                    $(".box-warning").fadeToggle();
                    if(azerty){
                        azerty = false;
                        $("#sendIcon").attr('src', '/static/specialisation/images/svg/send-button.svg');
                    }else{
                        azerty = true;
                        $("#sendIcon").attr('src', '/static/specialisation/images/svg/clear-button.svg');
                    }
                })
            
            </script>

    </body>
</html>